<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>

        <provider
            android:name=".appUpdate.AppUpdateInitProvider"
            android:authorities="${applicationId}.appupdatesdk-init"
            android:exported="false"
            android:initOrder="100" />

        <activity
            android:name=".appUpdate.DownloadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".appUpdate.DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:ignore="ForegroundServicePermission" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.appupdatesdk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_file_paths" />

        </provider>

    </application>

</manifest>